@{
    ViewData["Title"] = "Home Page";
}

@using WebWallet.Data.DTO.Accounts;
@using WebWallet.Data.DTO.Records;
@using WebWallet.Data.DTO.RecordCategory;
@using WebWallet.Data.DTO.RecordsSubcategories;
@using WebWallet.Models.ViewModels
@model HomeViewModel

@if (User.Identity.IsAuthenticated)
{
<div class="text-center">
    <div class="card mb-4 shadow">
        <div class="card-header d-inline-flex justify-content-between">
            <div class="h3 mb-0">
                Contas
            </div>
            <div class="">
                <button type="button" class="btn btn-outline-secondary" style="padding-bottom: 0px" data-bs-toggle="modal" data-bs-target="#createAccount">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                @foreach (ReadAccountDTO account in Model.Accounts)
                    {
                        <div class="p-1 col-6">
                            <a href="" data-bs-toggle="modal" data-bs-target="#viewAccount-@account.AccountID" class="card col-12 shadow-sm text-dark">
                                <div class="card-body d-inline-flex justify-content-between">
                                    <div class="">
                                        @account.Name
                                    </div>
                                    <div class="">
                                        R$ @(account.Amount)
                                    </div>
                                    <div class="">
                                        @account.AccountNumber
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
            </div>
        </div>
        <div class="card-body">
            <div class="h4 m-2">
                Saldo Total: R$ @Model.TotalAmount.ToString("N2")
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card shadow">
        <div class="card-header d-inline-flex justify-content-between">
            <div class="h3 mb-0">
                Rgistros
            </div>
            <div class="">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createRecord">
                    Novo Registro
                </button>
            </div>
        </div>
        <div class="card-body d-flex">
            <div class="col-8 overflow-scroll" style="height: 320px;">
                <table class="table table-borderless table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">Conta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ReadRecordDTO record in Model.Records)
                            {
                                <tr>
                                    <td scope="row">@Model.Accounts.FirstOrDefault(account => account.AccountID == record.AccountID).Name</td>

                                    @if(record.RecordTypeID == 1)
                                    {
                                        <td class="text-danger">-@record.Value</td>
                                    }else
                                    {
                                        <td class="text-success">+@record.Value</td>
                                    }
                                
                                    <td>@Model.SubCategories.FirstOrDefault(category => category.RecordSubcategoryID == record.RecordSubcategoryID).Description</td>
                                    <td>@record.Date.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>
                                        <a href="" class="btn btn-outline-secondary btn-sm" style="padding-bottom: 0px" data-bs-toggle="modal" data-bs-target="#viewRecord-@record.RecordID">
                                            <span class="material-symbols-outlined small">
                                                edit
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="col-4 px-3">
                <table class="table table-bordered">
                    <thead>
                        <h5>Categorias das Despesas</h5>
                        <tr>
                            <th scope="col">Categoria</th>
                            <th scope="col">Valor</th>
                            <th scope="col">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ReadRecordSubcategoryDTO category in 
                            Model.SubCategories.OrderByDescending(subcategory => subcategory.SubTotal).Take(5))
                            {
                                <tr>
                                    <td scope="row">@category.Description</td>
                                    <td>R$ @category.SubTotal</td>
                                    <td>00%</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------- MODAIS ---------------------- -->

<!-- CADASTRAR CONTA -->
<div class="modal" id="createAccount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nova Conta</h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
                <form method="post" asp-controller="Account" asp-action="Create">
                <div class="modal-body">              
                    <p>Informe os dados da nova conta</p>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Nome</span>
                        </div>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="Name" placeholder="Para identificar a conta" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="number" step=".01" class="form-control" aria-label="Saldo" name="Amount" placeholder="Saldo">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nº</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Numero da Conta" name="AccountNumber" placeholder="Número da Conta (opcional)">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo de Conta</span>
                        </div>
                        <select class="form-control" name="AccountTypeID" required>
                            <option selected disabled>Escolha...</option>
                            <option value="1">Dinheiro</option>
                            <option value="2">Conta Corrente</option>
                            <option value="3">Conta Poupança</option>
                            <option value="4">Conta em Corretora</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

                            
<!-- VISUALIZA CONTA -->
@foreach (ReadAccountDTO account in Model.Accounts)
{
<div class="modal" id="viewAccount-@account.AccountID" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Conta</h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" asp-controller="Account" asp-action="Update">
                <div class="modal-body">              
                    <p>Selecione o campo que deseja editar.</p>
                    <input type="text" name="AccountId" value="@account.AccountID" hidden>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Nome</span>
                        </div>
                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="name" placeholder="Para identificar a conta" value="@account.Name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" step=".01" class="form-control" aria-label="Saldo" name="amount" placeholder="Saldo" value="@account.Amount">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nº</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Numero da Conta" name="accountNumber" placeholder="Número da Conta (opcional)" value="@account.AccountNumber">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo de Conta</span>
                        </div>
                        <select class="form-control" name="AccountTypeID">
                            <option>Escolha...</option>
                            @switch (account.AccountTypeID)
                                {
                                    case 1:
                                        <option selected value="1">Dinheiro</option>
                                        <option value="2">Conta Corrente</option>
                                        <option value="3">Conta Poupança</option>
                                        <option value="4">Conta em Corretora</option>
                                        break;
                                     case 2:
                                        <option value="1">Dinheiro</option>
                                        <option selected value="2">Conta Corrente</option>
                                        <option value="3">Conta Poupança</option>
                                        <option value="4">Conta em Corretora</option>
                                        break;
                                     case 3:
                                        <option value="1">Dinheiro</option>
                                        <option value="2">Conta Corrente</option>
                                        <option selected value="3">Conta Poupança</option>
                                        <option value="4">Conta em Corretora</option>
                                        break;
                                    case 4:
                                        <option value="1">Dinheiro</option>
                                        <option value="2">Conta Corrente</option>
                                        <option value="3">Conta Poupança</option>
                                        <option selected value="4">Conta em Corretora</option>
                                        break;
                                    default:
                                        <option value="1">Dinheiro</option>
                                        <option value="2">Conta Corrente</option>
                                        <option value="3">Conta Poupança</option>
                                        <option value="4">Conta em Corretora</option>
                                        break;
                                }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a type="button" class="btn btn-danger" asp-controller="Account" asp-action="Delete" asp-route-accountid="@account.AccountID">Excluir</a>
                </div>
            </form>
        </div>
    </div>
</div>
}


<!-- CADASTRAR REGISTRO -->
<div class="modal" id="createRecord" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Registro</h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" asp-controller="Record" asp-action="Create">
                <div class="modal-body">
                    <p>Informe os dados do novo registro</p>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" step=".01" class="form-control" aria-label="Valor" name="Value" placeholder="Valor">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Conta</span>
                        </div>
                        <select class="form-control" name="AccountID" required>
                            <option selected disabled>Escolha...</option>
                            @foreach(ReadAccountDTO account in Model.Accounts)
                                {
                                    <option value="@account.AccountID">@account.Name</option>
                                }
                            </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo de registro</span>
                        </div>
                        <select class="form-control" name="RecordTypeID" required>
                            <option selected disabled>Escolha...</option>
                            <option value="1">Despesa</option>
                            <option value="2">Receita</option>
                            <option value="3">Transferência</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Categoria</span>
                        </div>
                        <select class="form-control" name="RecordCategoryID" required>
                            <option selected disabled>Escolha...</option>
                            @foreach (ReadRecordCategoryDTO category in Model.Categories)
                                {
                                    <option value="@category.RecordCategoryID">@category.Description</option>
                                }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Subcategoria</span>
                        </div>
                        <select class="form-control" name="RecordSubcategoryID" required>
                            <option selected disabled>Escolha...</option>
                            @foreach (ReadRecordSubcategoryDTO subcategory in Model.SubCategories)
                                {
                                    <option value="@subcategory.RecordSubcategoryID">@subcategory.Description</option>
                                }
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Data</span>
                        </div>
                        <input type="datetime-local" class="form-control" aria-describedby="basic-addon1" name="Date" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- VISUALIZAR REGISTRO -->
@foreach(ReadRecordDTO record in Model.Records)
    {
        <div class="modal" id="viewRecord-@record.RecordID" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Detalhes do Registro</h4>
                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <form method="post" asp-controller="Record" asp-action="Update">
                        <div class="modal-body">
                            <p>Use os campos para alterar os dados</p>
                            <input type="hidden" name="RecordID" value="@record.RecordID">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R$</span>
                                </div>
                                <input type="text" step=".01" class="form-control" aria-label="Valor" name="Value" placeholder="Valor" value="@record.Value">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Conta</span>
                                </div>
                                <select class="form-control" name="AccountID" required>
                                    <option selected disabled>Escolha...</option>
                                    @foreach (ReadAccountDTO account in Model.Accounts)
                                    {
                                        @if (account.AccountID == record.AccountID)
                                        {
                                            <option selected value="@account.AccountID">@account.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@account.AccountID">@account.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tipo de registro</span>
                                </div>
                                <select class="form-control" name="RecordTypeID" required>
                                    <option disabled>Escolha...</option>
                                    @if (record.RecordTypeID == 1)
                                    {
                                        <option selected value="1">Despesa</option>
                                    }
                                    else
                                    {
                                        <option value="1">Despesa</option>
                                    }
                                    @if (record.RecordTypeID == 2)
                                    {
                                        <option selected value="2">Receita</option>
                                    }
                                    else
                                    {
                                        <option value="2">Receita</option>
                                    }
                                    @if (record.RecordTypeID == 3)
                                    {
                                        <option selected value="3">Transferência</option>
                                    }
                                    else
                                    {
                                        <option value="3">Transferência</option>
                                    }
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Categoria</span>
                                </div>
                                <select class="form-control" name="RecordSubcategoryID" required>
                                    <option disabled>Escolha...</option>
                                    @if (record.RecordSubcategoryID == 1)
                                    {
                                        <option selected value="1">Alimentação</option>
                                    }
                                    else
                                    {
                                        <option value="1">Alimentação</option>
                                    }

                                    @if (record.RecordSubcategoryID == 2)
                                    {
                                        <option selected value="2">Transporte</option>
                                    }
                                    else
                                    {
                                        <option value="2">Transporte</option>
                                    }

                                    @if (record.RecordSubcategoryID == 3)
                                    {
                                        <option selected value="3">Compras</option>
                                    }
                                    else
                                    {
                                        <option value="3">Compras</option>
                                    }

                                    @if (record.RecordSubcategoryID == 4)
                                    {
                                        <option selected value="4">Entretenimento</option>
                                    }
                                    else
                                    {
                                        <option value="4">Entretenimento</option>
                                    }

                                    @if (record.RecordSubcategoryID == 5)
                                    {
                                        <option selected value="5">Moradia</option>
                                    }
                                    else
                                    {
                                        <option value="5">Moradia</option>
                                    }

                                    @if (record.RecordSubcategoryID == 6)
                                    {
                                        <option selected value="6">Despesas Financeiras</option>
                                    }
                                    else
                                    {
                                        <option value="6">Despesas Financeiras</option>
                                    }
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Data</span>
                                </div>
                                <input type="datetime-local" class="form-control" aria-describedby="basic-addon1" name="Date" required value="@record.Date.ToString("yyyy-MM-ddTHH:mm")">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a type="button" class="btn btn-danger" asp-controller="Record" asp-action="Delete" asp-route-id="@record.RecordID">Excluir</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

}
else
{
    <h1>Web Wallet</h1>

    <p>Plataforma para gerenciamento financeiro pessoal</p>
}